body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container{
  margin: auto;
  text-align: center;
}
.box{
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 600px;
}

body{
  background-color: darkslategray;
}


#span-style{
  background-color: rgb(238, 232, 232);
  border: 1px  ;
  border-radius: 10px;
}

.pad{
  padding: 50px;
  height: 600px;
 
}

.wdth{
  color: aliceblue;
  border-radius: 10px;
  
  margin: 20px;
  width: 500px;
  height: 30px;
}